{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>About Us</h2>
    <p>Sarahah helps you in discovering your strengths and areas for improvement by receiving honest feedback from your employees
        and your friends in a private manner</p>

    <hr>

    <h2>FAQ</h2>
    <h3>Will Sarahah show the identity of senders?</h3>
    <p>Sarahah won't disclose the identity of the logged-in senders to users except with their consent.</p>
    <br>
    <h3>Is Sarahah a hacker?!</h3>
    <p>Sarahah doesn't steal data but websites and apps impersonating Sarahah could do that</p>
    <br>
    <h3>Can Sarahah visitors view my messages?</h3>
    <p>They can't as long as you don't share your messages</p>
    <br>
    <h3>Is there a Sarahah mobile app?</h3>
    <p>Yes, the official Sarahah app is on Google Play and App Store</p>
    <br>
    <h3>Can I respond to messages?</h3>
    <p>You can't respond to messages now. We are studying this option</p>
    <br>
</div>
{% endblock %}