{% load static bootstrap3 %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        {% bootstrap_css %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                    <a class="navbar-brand" href="{% url 'core:home' %}">Saraha-Django</a>
                </div>

                {% include 'security/_menu.html' %}
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <footer class="fixed-footer">
            <p>Sarahah-Django 2017 ©</p>
        </footer>

        {% bootstrap_javascript 'jquery' %}
        {% block scripts %}{% endblock %}
    </body>
</html>